<?xml version="1.0"?>
<robot name="ur5e_with_tool" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro"/>

  <xacro:ur_robot
      name="ur5e"
      ur_type="ur5e"
      prefix=""
      joint_limited="false"
      safety_limits="true"
      safety_pos_margin="0.15"
      safety_k_position="20"
      use_fake_hardware="true"
      kinematics_params_file="$(find ur_description)/config/ur5e/default_kinematics.yaml"
      visual_parameters_config_file="$(find ur_description)/config/ur5e/visual_parameters.yaml">

    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <!-- Your TCP -->
  <link name="tool0"/>
  <joint name="wrist_3_to_tool0" type="fixed">
    <parent link="wrist_3_link"/>
    <origin xyz="0.10 0 0" rpy="0 -1.57079632679 0"/>
    <child link="tool0"/>
  </joint>
</robot>
